= image_tag "event_37tab_upper.png", class: "image_upper"
= link_to image_tag("event_37tab_button.png"), "https://docs.google.com/a/skyseed.me/forms/d/1HXK4jPdP1ggL9nmheDkPoZk7wcZabN6oIyr6hWblyS0/viewform?usp=send_form", class: "link_button"
= image_tag "event_37tab_lower.png", class: "image_lower"
